name: Upgrade all requirements

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  pip-compile-upgrade:
    name: Upgrade all requirements
    runs-on: ubuntu-latest
    steps:

      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          cache: pip
          python-version: '3.11'

      - name: Install pip-tools
        run: pip install pip-tools

      - name: Upgrade all requirements
        run: pip-compile --upgrade

      - name: Create pull request
        uses: peter-evans/create-pull-request@v5
        with:
          body: Upgrade all requirements with `pip-compile --upgrade`
          branch: pip-compile-upgrade
          commit-message: Upgrade all requirements with `pip-compile --upgrade`
          delete-branch: true
          title: Upgrade all requirements with `pip-compile --upgrade`
          token: ${{ secrets.personal_token }}
